<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Allocate Seats – <%= classroomName %></h2>

    <% if (seatsFrozen) { %>
    <p><b>Seats are frozen. Allocation disabled.</b></p>
    <% } else { %>
    <form
      method="POST"
      action="/exams/<%= examId %>/classrooms/<%= classroomId %>/allocate"
    >
      <select name="student_id" required>
        <option value="">Select Student</option>
        <% students.forEach(s => { %>
        <option value="<%= s.id %>"><%= s.name %></option>
        <% }) %>
      </select>

      <select name="bench_id" required>
        <option value="">Select Bench</option>
        <% benches.forEach(b => { %>
        <option value="<%= b.id %>">Bench <%= b.bench_number %></option>
        <% }) %>
      </select>

      <button type="submit">Allocate</button>
    </form>
    <% } %>
  </body>
</html>
